:root {
  --gd-black: #000000;
  --gd-background: #0f1320;
  --gd-cover: #0f1320;
  --gd-grey: #c4c3c4;
  --gd-blue: #2A41C8;
  --gd-red: #ff0009;

  --gd-logo-width: 300px;
}

/* RESET */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--gd-background);
}

/* PLANO BASE */
#plano-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  background: url("/assets/img/FondoCasaM.png") center / cover no-repeat;
}

/* INTRO LAYER */
#intro-layer {
  position: fixed;
  inset: 0;
  background: var(--gd-cover);
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: all;
}

/* LOADER LAYOUT */
#loader-stage {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

#loader-container {
  width: var(--gd-logo-width);

  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-container svg {
  width: 100%;
  height: auto;
  display: block;
}
